body {
    background-color: #eef3f9;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 1.5rem 8rem 1.5rem;
    background-color: var(--secondary-san-juan-blue-opacity);
    border-radius: 0 0 50% 50%;
}

nav {
    display: none;
    align-items: center;
    justify-content: space-between;
    font-family: var(--p-font-family);
}

.first-sec {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.first-phone {
    display: flex;
    transform: translate(15%, -40%);

}

.lien-contact {
    text-decoration: none;
    font-weight: var(--font-weight-bold);
    color: var(--secondary-light-san-juan-blue);
    font-family: "Public Sans", sans-serif;
}

.sec-partenaire {
    background-color: var(--secondary-mirage-blue);
    padding: 80px 24px;
}

.div-partenaire {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 39px;
    margin-bottom: 56px;
}

.div-h2 {
    display: flex;
    flex-direction: column;
}

.sec-fonctionnalités {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sec-fonctionnalités-last {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.div-h3 {
    text-align: center;
}

.sec-solution {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5rem 0;
}

.div-solution {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    ul {
        display: flex;
        gap: 0 12px;
        list-style: none;
    }

    a {
        text-decoration: none;
        color: var(--secondary-san-juan-blue);
        opacity: 70%;
        font-weight: var(--font-weight-bold);
    }

    .menu-burger {
        display: none;
    }

    .div-firstPhone {
        display: flex;
        justify-content: center;
    }

    .first-phone {
        transform: translate(15%, -40%);
    }

    .div-partenaire {
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        margin-left: 56px;
    }

    .sec-solution {
        flex-direction: row;
    }
}

@media screen and (min-width: 1024px) {
    header {
        background-color: #eef3f9;
        padding: 2.5rem 10rem;
    }

    .first-phone {
        transform: translate(200%, 0%);
    }

    main {
        position: relative;
    }

    .div-firstPhone {
        display: flex;
        position: absolute;
        right: 50%;
    }

    .div-h1 {
        width: 60%;
    }

    .sec-partenaire {
        background-color: var(--secondary-mirage-blue);
        padding-bottom: 80px;
        display: flex;
        flex-direction: row-reverse;
        padding: 100px 163px;
        margin-top: 5rem;
    }

    .div-partenaire {
        transform: scale(1);
        margin: auto;
    }

    .div-h2 {
        width: 60%;
    }

    .sec-fonctionnalités {
        flex-direction: row;
        justify-content: center;
    }

    .sec-fonctionnalités-last {
        flex-direction: row-reverse;
        justify-content: center;
    }

    .div-h3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: start;
        width: 40%;
    }

    .sec-solution {
        flex-direction: row;
    }
}
