:root {
    --padding-text-field: 0px 201px 64px 20px;
    --normal-state-placeholder: #9ba9b4;
    --normal-state-border-bottom: 1px solid #9ba9b4;

    --active-state-placeholder: #36536B;
    --active-state-border-bottom: 1px solid #36536B;

    --normal-state-name-placeholder: #9ba9b4;
    --normal-state-name-border-bottom: 1px solid #9ba9b4;

    --active-state-name-placeholder: #36536B;
    --active-state-name-border-bottom: 1px solid #36536B;

    --error-placeholder: #FE8081;
    --error-border-bottom: 1px solid #FE8081;
}


form {
    display: flex;
    flex-direction: column;
}

.input-mail {
    border-radius:  99px;
    padding:  15px 50px 15px 20px;
    border: none;
    background-color: #fff;
    box-shadow: 10px 10px 25px -10px #000;
    margin: 24px 0 16px 0;
}

input::placeholder {
    color: var(--normal-state-placeholder);
    font-family: "Public Sans", sans-serif;
}

@media screen and (min-width: 768px) {
    form {
        position: relative;
        display: flex;
        justify-content: center;
        width: 50%;
        margin: auto;
    }

    #input-btn {
        position: absolute;
        top: 25%;
        right: 0%;
    }
}

@media screen and (min-width: 1024px) {
    .last-form {
        margin: 0;
    }
}